/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//nesting
body{
    background-image: linear-gradient(to bottom, #010f21 0%,rgb(4, 2, 59) 50%, #537895 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1rem;
}
//hojas secundarias
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "contenedores/header";
@import "contenedores/main";
@import "contenedores/footer";


@media(min-width: 768px){
    nav{
        .menu-desktop{
            display: flex;
        }
        .boton-menu{
            display: none;
        }
    }
    main{
        margin-left: 15%;
        margin-right: 15%;
        .contenedor{
            h1{
                font-size: 4rem;
            }
        }
        .contenedor-cards{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .card{
                min-width: 32%;
            }
        }
        .sobre-mi{
            display: grid;
            grid-template-columns: 2fr 6fr;
            align-items: flex-start;
            .descripcion-perfil{
                padding: 0.3rem;
            }
            .img-perfil{
                img{
                    object-fit: contain;
                    height: 400px;
                }
            }
        }
        .works{
            .work{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: flex-start;
                .descripcion{
                    display: flex;
                    justify-content: center;
                    p{
                        margin: 1rem;
                    }
                }
                .img-escritorio{
                    display: block;
                    margin: 2rem;
                    object-fit: contain;
                }
                .img-phone{
                    display: flex;
                    margin: 2rem;
                    object-fit: contain;
                }
        
            }
        }
        
        .lenguajes {
            img{
                width: 10%;
            }
        }


    }
    
}
