/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//nesting
body{
    background-image: linear-gradient(to bottom, #010f21 0%,rgb(4, 2, 59) 50%, #537895 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1rem;
}
//hojas secundarias
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "contenedores/header";
@import "contenedores/main";
@import "contenedores/footer";
@import "contenedores/mediaquery";

