/* Estilos del footer */
footer{
    @include estilos-footer;
        
        div{
           
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                li{
                    list-style: none;
                    margin: 0.3rem;
                    a{
                        img{
                            height: 30px;
                        }
                    }
                }
            }
    }
}