/* estilos main  */
main{
    color: $color-texto;
    min-height: 850px;
    h2{
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    .contenedor{
        margin: 2.5rem;
        padding-top: 4rem;
        h1{
            text-align: center;
            padding: 1rem;
            font-size: 2.6rem;
            color: $color-secundario;
        }
        .presentacion{
            text-align: center;
        }
         
    }
    /* estilos del home */
    .contenedor-cards{
        margin: 1rem;
        /* tarjetas de servicios a ofrecer */
        .card{
            margin: 1rem;
            padding: 1rem;
            background-color:rgba(21, 31, 116, 0.8);
            border-radius: 2rem;
            display: block;
            img{
                width: 100%;
                border-radius: 1rem;
            }
            div{
                margin: 0.7rem;
                h2{
                    @extend %h2;
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
            &:hover{
                background-color: $color-hover;
            }
        }
    }
    /* estilos works portfolio */
    .works{
        @include flex;
        padding: 0;
        margin: 0;
        .work{
            margin: 1rem;
            padding: 0.3rem;
            background-color: $color-testimonios;
            border-radius: 2rem;
            object-fit: contain;
            justify-self: center;
            h2{
                @extend %h2;
            }
            .img-descripcion{
                margin: 1rem;
                margin-top: 1.5rem;
                border-radius: 1rem;
                border: 0.2rem solid $color-secundario;    
            }
            .img-escritorio{
                display: none;
            }
            .img-phone{
                display: none;
            }
            .descripcion{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            p{
                text-align: left;
            }
        }
    }
    /*estilos sobre-mi*/
    .sobre-mi{
        margin: 1rem;
        .descripcion-perfil{
            @include flex;
            p{
                text-align: justify;
                margin-top: 1rem;
            }
            div{
                h2{
                    @extend %h2;
                }
                P{
                    text-align: left;
                }
            }
        }
        .img-perfil{
            display: flex;
            flex-direction: column;
            margin: 1rem;
        }
    }
    
    /* estilos de conocimientos de lenguajes */
    .titulo-lenguaje{
        text-align: center;
        margin: 2rem;
        }
    .lenguajes{
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 3rem;
        grid-gap:0.3rem;
        .item{
            &:nth-child(1){
                grid-column-start: span 2;
            }
            &:nth-child(3){
                grid-row-start: span 2;
            }
            &:nth-child(8){
                grid-column-start: span 2;
            }
            img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            &:hover{
                opacity: 0.2;
            }

        }
        }
        
    }
    
    /*estilos testimonios*/
    
    .testimonio{
        @include flex;
        justify-items: center;
        margin: 1rem;
        padding: 1rem;
        background-color:$color-testimonios;
        p{
            text-align: left;
            margin: 1rem;
        }
        .user{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h2{
                padding: 0.7rem;
                @extend %h2;
            }
            img{
                margin: 1rem;
                max-width: 60px;
            }
        }
    }
    /* botones */
    .botones{
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
            color: black;
        }
        
    }
    .button {
        @include estilosBotones;
 
         &:hover{
            @include botones-hover;
         }
        
    }
}